{% extends 'base.html' %}
{% block body %}
        <div class="container-fluid">
          <a class="navbar-brand" href="/">MyTodo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Link</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item">
                <a class="nav-link disabled" aria-disabled="true">Disabled</a>
              </li>
            </ul>
            <form class="d-flex" role="search">
              <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
          </div>
        </div>
      <form method="POST">
        <div class="mb-3" mx="10">
          <h2>Add ToDos</h2>
          <label for="title" class="form-label">To Do Title</label>
          <input type="title" class="form-control" name="title" id="title">
          
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <input type="description" class="form-control" name="desc" id="desc">
        </div>
        <div class="mb-3 form-check">
        
        <button type="submit" class="btn btn-gradient">Submit</button>
      </form>
      <div class="container" my="3" mx="3">
        <h2>Yours ToDos</h2>
        
            {% if allTodo|length == 0 %}
            <div class="alert alert-dark" role="alert">
              No Todos Found! Add your first todo now!
            </div>
              {% else %}
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">S.No</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Time</th>
                    <th scope="col">Actions</th>
                  </tr>
                </thead>
                <tbody>



              
              
            {% endif %}
            {% for todo in allTodo %}
            <tr>
              <th scope="row">{{loop.index}}</th>
              <td>{{todo.title}}</td>
              <td>{{todo.desc}}</td>
              <td>{{todo.date_created}}</td>
              <td>
                <a href="/delete/{{todo.sno}}" type="button" class="btn btn-dark btn-sn" style="margin: 3px;">Delete</button>
                <a href="/update/{{todo.sno}}" type="button" class="btn btn-dark btn-sn" style="margin: 3px;">Update</button>
                
              </td>
            </tr>
          </tbody>
        </table>
            {% endfor %}
            
          
      </div>
{% endblock body %}